@media only screen and (max-width: 1550px) {
  .nav {
    font-size: 16px;
  }

  .nav .nav-city .nav-city__desc p {
    line-height: 2em;
  }

  .nav .nav-tel, .nav .nav-city {
    width: 400px;
  }

  .nav-menu {
    border-top: none;
  }

  .logo {
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    width: 300px;
  }

  .pillow_hd,
.boots__hd,
.about_bg,
.shoes-img {
    width: 35%;
  }

  .about .about__wrap {
    margin-left: 130px;
  }

  .prevention .prevention-img__left {
    top: 16%;
  }

  .prevention .prevention__wrapper .evminova-img {
    width: 500px;
    height: 100%;
  }

  .shoes .shoes__wrapper, .prevention .prevention__wrapper, .orthopedic .orthopedic__wrapper .orthopedic__images, .about-store .about-store__wrap, .nav {
    justify-content: space-between;
  }

  .prevention {
    padding-bottom: 100px;
  }

  .shoes,
.pillows,
.orthopedic,
.corsets {
    padding: 100px 0;
  }

  .shoes .shoes-right-bg {
    top: 13%;
  }

  .pillows .pallows-left_bg {
    top: 19%;
  }

  .pallows-left_bg {
    width: 50%;
  }

  .img__item img {
    width: 200px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__images {
    width: 700px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__images .img__item p {
    font-size: 20px;
    margin-top: 25px;
  }

  .orthopedic .orthopedic__wrapper {
    align-items: center;
  }

  .container-fluid {
    width: 1150px;
  }

  .pillows .pillows__wrapper .pallow-woman__firts {
    width: 500px;
    height: 500px;
  }

  .pillows .pillows__wrapper .pillows__wrap .pallow-woman__second {
    width: 430px;
    height: 330px;
    margin-left: -10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .pillows .pillows__wrapper {
    justify-content: space-around;
  }

  .corsets-img__item img {
    width: 200px;
  }

  .corsets .corsets__wrapper .corsets__images .corsets-img__item p {
    font-size: 20px;
    margin-top: 25px;
  }

  .contacts .contact__block {
    right: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .container,
.container-fluid {
    width: 970px;
  }

  .header__screen .offer h1 {
    font-size: 43px;
    line-height: 1.3em;
  }

  .header__screen .boots__hd {
    position: absolute;
    left: 0%;
    top: 29%;
  }

  .about {
    padding: 100px 0;
  }

  .img__item img,
.corsets-img__item img {
    width: 160px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__images .img__item p,
.corsets .corsets__wrapper .corsets__images .corsets-img__item p {
    font-size: 17px;
    margin-top: 20px;
  }

  .pillows .pillows__wrapper .pillows__wrap .title p, .corsets .corsets__wrapper .corsets__wrap .title p, .shoes .shoes__wrapper .shoes__wrap .title p, .prevention .prevention__wrapper .prevention__wrap .title p, .orthopedic .orthopedic__wrapper .orthopedic__wrap .title p, .about .title p {
    font-size: 22px;
  }

  .pillows .pillows__wrapper .pillows__wrap .title h2, .corsets .corsets__wrapper .corsets__wrap .title h2, .shoes .shoes__wrapper .shoes__wrap .title h2, .prevention .prevention__wrapper .prevention__wrap .title h2, .orthopedic .orthopedic__wrapper .orthopedic__wrap .title h2, .about .title h2 {
    font-size: 34px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__images {
    width: 500px;
  }

  .orthopedic__wrapper {
    justify-content: center;
  }

  .prevention .prevention__wrapper .evminova-img {
    width: 450px;
  }

  .shoes .shoes__wrapper {
    justify-content: center;
  }

  .shoes-img {
    width: 40%;
  }

  .corsets .corsets__wrapper .corsets__images .corsets-img__item {
    margin-right: 15px;
  }

  .pillows .pillows__wrapper .pallow-woman__firts {
    width: 400px;
    height: 400px;
  }

  .pillows .pillows__wrapper .pillows__wrap .pillows__text {
    width: 500px;
  }

  .pallows-left_bg {
    width: 55%;
  }

  .contacts .contact__block {
    width: 500px;
  }
}
@media only screen and (max-width: 992px) {
  .container,
.container-fluid {
    width: 720px;
  }

  .nav .nav-tel, .nav .nav-city {
    width: 33.3%;
  }

  .nav .nav-city .nav-city__desc p {
    line-height: 1.4em;
  }

  .nav .nav-city .nav-city__desc i,
.nav .nav-tel .nav-tel__desc i {
    padding: 0 15px;
  }

  .nav {
    font-size: 14px;
  }

  .logo {
    border-bottom: none;
  }
  .logo:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #e4e4e4;
    width: 250px;
    margin: 0 auto;
  }

  .header__screen .pillow_hd,
.header__screen .boots__hd {
    top: 38%;
  }

  .about .about__text {
    width: 450px;
  }

  .about-store .about-store__wrap .about-store__item p {
    font-size: 18px;
    line-height: 1.4em;
  }

  .orthopedic__wrapper,
.prevention__wrapper,
.shoes__wrapper,
.corsets__wrapper {
    flex-direction: column;
  }

  .orthopedic__wrap {
    order: 1;
  }

  .img__item img, .corsets-img__item img {
    width: 200px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__images {
    width: 650px;
  }

  .orthopedic .orto-bg {
    top: 50%;
  }

  .orthopedic__images {
    margin-bottom: 60px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__wrap .orthopedic__text {
    margin-top: 45px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__wrap .orthopedic__text p {
    margin-bottom: 30px;
  }

  .orthopedic .orthopedic__wrapper .orthopedic__wrap .orthopedic__btn {
    margin-top: 50px;
  }

  .prevention,
.shoes {
    padding: 50px 0;
  }

  .prevention .prevention-img__left {
    top: 10%;
  }

  .prevention-img__left {
    display: none;
  }

  .prevention .prevention__wrapper .evminova-img {
    width: 500px;
    margin-bottom: 60px;
  }

  .prevention .prevention__wrapper .prevention__wrap {
    margin-right: 0;
  }

  .prevention .prevention__wrapper .prevention__wrap .prevention__text {
    margin: 50px 0;
  }

  .shoes__wrap {
    order: 1;
  }

  .shoes-img {
    width: 50%;
  }

  .shoes-img {
    margin-bottom: 60px;
  }

  .shoes-right-bg {
    width: 60%;
  }

  .shoes .shoes__wrapper .shoes__wrap .shoes__text {
    margin: 50px 0;
  }

  .prevention .prophy_bg {
    top: 46%;
  }

  .shoes .shoes-left-bg {
    top: 40%;
  }

  .corsets__wrap {
    order: 1;
  }

  .corsets .corsets__wrapper .corsets__images {
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .corsets .carset-bg {
    top: 45%;
    left: 50%;
  }

  .pallows-left_bg,
.pallow-woman__firts {
    display: none;
  }

  .pillows .pillows__wrapper .pillows__wrap .pallow-woman__second {
    margin-right: 0;
  }

  .pillows .pillows__wrapper .pillows__wrap {
    margin-left: 0;
  }

  .pillows .pillows__wrapper .pillows__wrap .pallow-woman__second {
    margin-left: 0;
  }

  .pillows .pallows-right_bg {
    top: 50%;
  }

  .footer .footer__desc {
    width: 100%;
  }

  .footer__desc p {
    font-size: 18px;
  }

  .footer .footer__desc {
    line-height: 1.4em;
  }
}